* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

header {
  /*like setting two background images, since we dont need a gradient same color
   passed in as args */
   /* we dont need complete same color, so set transperancy rgba(0,0,0,0.7)*/
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/hero.jpg);
  /* display image entire page size */
  height: 100vh;
  /* show whole image */
  background-size: cover;
  background-position: center;

}

.hero-text{
  /* we dont want fluid grid box, absolute coz thats how we can center it */
  position: absolute;
  max-width: 1140px;
  top: 50%;
  left: 50%;
  /* transform half of its width and height to the left */
  transform: translate(-50%,-50%);
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 100;
  color: #fff;
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.btn:link,
.btn:visited{
  /* inline block = inline + can have margin*/
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 500px;
  /* for the bg color to slowly change when hovered over */
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited {
  margin-right: 15px;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited{
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active{
  background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active{
  border: 1px solid #cf6d17;
  color: #fff;
}

.logo{
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.main-nav{
  float: right;
  list-style: none;
  margin-top: 55px;
}
.main-nav li{
  /*inline-block so they can be side by side and have margin bn em */
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  padding: 8px 0px;
}
.main-nav li a:hover,
.main-nav li a:active{
  border-bottom: 2px solid #cf6d17;
}
