* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

header {
  /*like setting two background images, since we dont need a gradient same color
   passed in as args */
   /* we dont need complete same color, so set transperancy rgba(0,0,0,0.7)*/
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/hero.jpg);
  /* display image entire page size */
  height: 100vh;
  /* show whole image */
  background-size: cover;
  background-position: center;

}

.hero-text{
  /* we dont want fluid grid box, absolute coz thats how we can center it */
  position: absolute;
  max-width: 1140px;
  top: 50%;
  left: 50%;
  /* transform half of its width and height to the left */
  transform: translate(-50%,-50%);
}
